.slider {
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
    position: absolute;
    bottom: 37%;
    border-radius: 50%;
}

.slider .slide-track {
    display: flex;
    animation: scroll 25s linear infinite;
    -webkit-animation: scroll 25s linear infinite;
    animation-delay: 0.1s;
    height: 147px;
    width: 147px;
}

.slider .slide {
    display: flex;
}

.slider .slide img {
    display: flex;
    width: 100px;
    height: 100px;
    padding: 1px;
    cursor: pointer;
    margin-bottom: 24px;
    margin-top: 24px;
    margin-left: 70px;
    margin-right: 70px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(105px);
        transform: translateX(-2320px);
    }
}
